<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>search_servlet</servlet-name>
		<servlet-class>ajax.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search_servlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rss_servlet</servlet-name>
		<servlet-class>ajax.RssFeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rss_servlet</servlet-name>
		<url-pattern>/rss</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>Processing.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddTrainingServlet</servlet-name>
		<servlet-class>Processing.AddTrainingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTrainingServlet</servlet-name>
		<url-pattern>/addPlan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTrainingServlet</servlet-name>
		<url-pattern>/addExercise</url-pattern>
	</servlet-mapping>

</web-app>